.advantages {
    background: #fdf8f5;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 75px;

		// .advantages-list__item

		&__item {
            display: flex;
            flex-direction: column;

            
            .advantages-list__item__title {
                display: inline-block;
                margin: 0 auto;
                font-weight: 700;
                font-size: 56px;
                line-height: 125%;
                color: #222;
                border-bottom: 3px solid #222;
                text-align: center;
                padding-top: 3px;
                margin-bottom: 30px;
            }

            .advantages-list__item__subtitle {
                font-weight: 400;
                font-size: 24px;
                line-height: 125%;
                color: #555;
            }

            
		}
}





