@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --font-family: "Red Hat Display", sans-serif;


  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
}


body {
    width: 1440px;
    margin: 0 auto;
    font-family: var(--font-family);
    font-weight: regular;
}

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 20px;

}


.logo {
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #222;
    cursor: pointer;
}

h1 {
    font-weight: 500;
    font-size: 56px;
    line-height: 125%;
    color: #000;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #555;
}

.text-normal {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #222;

}

.bg-beige {
    background: #f9f6f5;
}

.btn {
    padding: 16px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    cursor: pointer;
    transition: all 0.3s;
}

.btn--black {
    background: #402f2c;
    color: #fff;
    border: none;
}
.btn--black:hover {
    background: #110c0b;
    color: #fff;
}




