.perfect-beauty {
    height: 600px;
    margin: 130px 0;
    background: url("../img/perfect-beauty.jpg") right no-repeat;
    background-position: center right 100px;
    background-size: 600px 600px;
    
    
    // .perfect-beauty__title

    &__title {
        display: block;
        width: 520px;
        padding-top: 45px;
    }
    
    // .perfect-beauty__disc
    
    p {
        width: 608px;
        padding-top: 20px;
        line-height: 32px;
    }
    button {
        margin-top: 50px;

    }
}

